body {
    --main-bg-color: khaki;
    background-color: var(--main-bg-color);
    padding: 5vw;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}
.quiz {
    background-color: beige;
    margin-left: 10%;
    margin-right: 10%;
    min-width: 40%;
    width: auto;
    min-height: 10vh;
}
.quiz #question {
    padding: 5%;
}
.quiz hr {
    border-color: lightsteelblue;
    border-radius: 4px;
    max-width: 95%;
    margin-top: 0;
    margin-bottom: 0;
}
.quiz #answerDiv {
    padding: 5%;
}
table {
    width: 90vw;
    padding-left: 10vw;
    padding-right: 10vw;
}
th {
    text-align: center;
    width: 100%;
}
table#highScoreList, tr, td {
    border-bottom: 1px solid white;
}
div#footer {
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    bottom: 1vh;
    float: bottom;
}

@media screen and (min-width: 900px){
    body {
        font-size: 300%;
    }
    .quiz {
        min-width: 50%;
    }
    .quiz #question {

    }
    .quiz #answerDiv {

    }
}
